h1,
h2,
h3,
h5,
p {
  font-family: "Raleway", sans-serif;
}
.cardEcommerce {
  margin-top: 50px;
  margin-left: 100px;
  text-align: center;
  width: auto;
  height: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#articulos {
  display: flex;
  flex-wrap: wrap;
  height: 90%;
  justify-content: center;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.col-md-4 {
  align-items: center;
  align-content: center;
}

.btn-info {
  position: relative;
  margin-bottom: 5px;
}

#itemContador {
  background-color: red;
  width: 25px;
  height: 25px;
  border-radius: 100%;
  color: white;
  text-align: center;
  position: absolute;
  right: 0%;
  margin-bottom: 25px;
}
#itemContador p {
  text-align: center;
}

#navCarrito {
  background-color: aliceblue;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-img-top {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}
/* CSS PAGE CARRITO */
#cardsContainer {
  width: 100%;
  height: 840px;
  background-color: #e8e8e8;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-top: 10px;
  margin-left: 10px;
}
.btn-light {
  background-color: #ffff;
  padding: 0px;
}

.cantidadContainer {
  display: flex;
  justify-content: space-between;
  width: 50px;
}
.cantidadContainer p {
  height: 10px;
}
.resumenPedido {
  width: 100%;
  height: 90%;
  margin-left: 10px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#mainCarrito {
  background-color: aliceblue;
  margin-top: 15px;
  display: flex;
  width: 100%;
  height: 100vh;
}
#btnf {
  width: 200px;
  height: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}
#cards {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
}

.img-fluid {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  height: 100%;
}
.cardCarrito {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
}

.btnEliminar {
  display: flex;
  justify-content: right;
}

.btn-danger {
  height: 40px;
}

.col-md8 {
  display: flex;
  flex-direction: row-reverse;
}

.input-group {
  width: 30%;
}

#buscador {
  display: flex;
  justify-content: center;
}
.imgLogo {
  width: 150px;
}

footer {
  position: relative;
  margin-top: 2rem;
  bottom: 0;
  background-color: #f8f9fa;
  color: aliceblue;
  text-align: center;
  width: 100%;
  height: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
footer p {
  margin-top: 1rem;
  font-size: 10px;
  color: black;
}

footer img {
  width: 2rem;
  height: 2rem;
  margin-left: 2rem;
  margin-top: 1rem;
}

nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.carritoVacio {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #a1a7b4;
}
.precio {
  font-family: "Noto Sans JP", sans-serif;
}
